:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: 'Inter';
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}   

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    padding-left: 35px;
}

.secundario {
    align-items: center;
    margin: 0 6em;
}

.secundario__imagem {
    width: 498px;
    height: 560px;
    flex-shrink: 0;
}

.descricao__titulo {
    font-family: var(--font-principal);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.2em
}

.descricao__subtitulo {
    font-family: var(--font-principal);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__imagem{
    margin: 1em 0 2em 0;
    
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container_aviso {
    text-align: center;
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__caixa {
    width: 512px;
    height: 307px;
    flex-shrink: 0;
}

.botao_secundario {
    background-color: transparent;    
    border: 2px solid var(--branco-principal);
}



